<section id="background">
  <!-- Carousel Start -->
  <div class="container-fluid p-0 mb-5">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="w-100" src="assets/img/training1.jpg" alt="Image" />
          <div class="carousel-caption">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-7 pt-5">
                  <h1 class="display-4 text-white mb-3 animated slideInDown">
                    Start with boot camp training
                  </h1>
                  <p class="fs-5 text-white-50 mb-5 animated slideInDown">
                    Boot camp programs are an effective way to teach small
                    groups of developers specific principles and toolchains.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="w-100" src="assets/img/training2.jpg" alt="Image" />
          <div class="carousel-caption">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-7 pt-5">
                  <h1 class="display-4 text-white mb-3 animated slideInDown">
                    Start with boot camp training
                  </h1>
                  <p class="fs-5 text-white-50 mb-5 animated slideInDown">
                    Boot camp programs are an effective way to teach small
                    groups of developers specific principles and toolchains.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="w-100" src="assets/img/training3.jpg" alt="Image" />
          <div class="carousel-caption">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-7 pt-5">
                  <h1 class="display-4 text-white mb-3 animated slideInDown">
                    Start with boot camp training
                  </h1>
                  <p class="fs-5 text-white-50 mb-5 animated slideInDown">
                    Boot camp programs are an effective way to teach small
                    groups of developers specific principles and toolchains.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#header-carousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#header-carousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <!-- Carousel End -->
  <div>
    <header class="section-header">
      <h3 class="text-center" style="color: rgb(255 147 65)">
        Start with boot camp training
      </h3>
    </header>
    <p style="color: white">
      Boot camp training is a way to train developers and other technical
      professionals to acquire deep skills in new technologies in a short period
      of time.
    </p>
  </div>
  <div>
    <header class="section-header">
      <h3 class="text-center" style="color: white">
        What is a boot camp?
      </h3>
    </header>
    <p style="color: white">
        What do you do when your development team needs a shock to the system in order to adopt a new set of technologies? Or when you need to create an elite team of experts that can lead your enterprise in transforming itself? The answer that is often given for both of these cases is that your team needs a boot camp.

        The term boot camp of course, comes from military recruit training, where new recruits are removed from their familiar environments and taught how to be a soldier or marine in a grueling and intensive training course taught by experts. In a similar way, some of the principles of military-style training have been successfully applied to teaching new development and operations skills to developers.
    </p>
  </div>
  <div>
    <header class="section-header">
      <h3 class="text-center" style="color: white">
        Principles for running a boot camp
      </h3>
    </header>
    <p style="color: white"><b>Get out of the "comfort zone"</b>
        The first principle of running a successful boot camp is that you must remove the students from their comfortable, day-to-day environments. You especially have to remove them from both the pressures and the habits of their everyday jobs. What a successful training program does is to create new habits in the way a person acts; you can't do that unless you first stop them from doing things they way they currently do them.<br>
       <br>
        The military takes this to extremes in teaching new recruits the proper way to do simple tasks like making beds and folding laundry. Breaking them of their current habits makes them more receptive to new habits that are more important to their mission. Likewise, breaking a developers away from their cubicles, their favorite code editors, and especially from email is important to give them the time and focus to pick up new habits around a new set of development principles and a new development and operations toolchain.<br>
       <br>
        Many boot camps are run out of collaboration spaces, which are effective for breaking people out of their comfort zones. However, you can run a boot camp just as easily out of almost any space that you can reconfigure to be dedicated to the purpose as long as it's not possible for people to return to their regular behaviors.
    </p>
  </div>
  <div>
    <header class="section-header">
      <h3 class="text-center" style="color: white">
        "Drink from the fire hose"
      </h3>
    </header>
    <p style="color: white">
        The next principle is that you want to keep feeding new information to the students as fast as they can take it in—and then give it to them even a little bit faster. Students have referred to this as trying to "drink from a fire hose," which is an apt analogy. Military training pushes recruits to the edge of their physical and mental abilities and then shows them how to stretch those abilities. Boot-camp training isn't trying to reach that same level of physical and mental exhaustion, but students should finish each long day both tired and happy about what they accomplished. You don't want to hear "This is easy" or "I've got this"—that means you need to move them on to the next challenge faster.
    </p>
  </div>
</section>
